* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Tw Cen MT;
  background-color: #fff;
}


header {
  background-image: url("image/mb3.jpg");
  background-size: cover;
  height: 38vh;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
  position: relative;
}


.logo img {
  width: 170px;
  height: auto; 
}


h1 a {
  text-decoration: none;
  color: white;
  text-align: center;
}

h1 a:active {
  color: white;
}

.content {
  display: -webkit-flex;
  display: flex;
}

h3 {
  padding: 5px;
  font-size: 24px;
  
}

.nav {
  background-image: url("image/mb2.jpg");
  -webkit-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
  background: #5DADE2;
  padding: 25px;  
}


.nav ul {
  list-style-type: none;
  padding: 0px;
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
  font-size: 21px;
}

.nav ul li {
  
  padding: 0px;
  
}

.nav ul li a {
  text-decoration: none;
  color: black;
  border: 8px solid transparent;
  display: block;
  
}

.nav ul li a:hover {
  background-color: #808B96;
  color: white;
}

.nav ul li a:active {
  background-color: #566573;
}

.nav ul li a.selected {
  background-color: #566573;
  color: #fff;
}



.dropdown {
  position: relative;
  display: block;
}


.dropdown-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-list a:hover {
  background-color: #ddd;  
}


.dropdown:hover .dropdown-list {
  display: block;
}


.dropdown:hover .selected {
  background-color: #808B96;
}

.main {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #AED6F1;
  padding: 20px;  
}


h2 {
  text-align: center;
  font-size: 30px;
  padding: 10px;
  color: #34495E;
}

h4 {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
}


.topbtn {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 4%;
  left: 96.25%;
  max-width: 30px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: rgb(100,100,100);
  padding: .5px;
  border-radius: 4px;
}

.topbtn a{
  text-decoration: none;
}

.topbtn:hover {
  background-color: #7dbbf1;
}

footer {
  background-color: #85C1E9;
  padding: 20px;
  text-align: center;
  color: black;
}